G2G_URL=https://www.g2g.com/categories/poe-currency/offer/group?fa=lgc_19398_server%3Algc_19398_server_63274%7Clgc_19398_tier%3Algc_19398_tier_42692&sort=lowest_price
G2G_SELLER=ExampleSeller
TRACKER_DATABASE=data/prices.db
